<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_t0R0g5VW9NmqQNqb-nEBkclHA1Rgxfs</string>
	<key>GCM_SENDER_ID</key>
	<string>603632269214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easylifecarproject.driver</string>
	<key>PROJECT_ID</key>
	<string>easylifecarproject</string>
	<key>STORAGE_BUCKET</key>
	<string>easylifecarproject.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603632269214:ios:437c2249fb5d070733088f</string>
</dict>
</plist>